@font-face {
    font-family: 'open_sansregular';
    src: url('../assets/fonts/OpenSans-Regular-webfont.eot') format('embedded-opentype'),
         url('../assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #dee5ed;
  padding: 0;
  margin: 0;
  font-family: open_sansregular;
}

.inner-content {
  margin: auto;
  max-width: 1000px;
}

a, a:visited, a:hover {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-transform: uppercase;
  margin: 0;
  padding: 20px 0 20px 0;
}

.header {
  background-image: url("../assets/images/banner.png");
  background-position: center;
  height: 142px;
  width: 100%;
}

/** Menu **/

.home-block a {
  width: 132px;
  height: 63px;
  display: block;
  margin-right: 10px;
}

.menu-section-container {
  display: flex;
  position: relative;
  border-bottom: solid 1px #d9d9d9;
  box-shadow: 0 4px 2px -2px #d9d9d9;
}

.main-menu--links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: 63px;
  align-items: center;
}

.main-menu--links a {
  text-decoration: none;
  padding: 0 15px 0 15px;
  height: 63px;
  display: block;
  line-height: 63px;
  position: relative;
}

.main-menu--links a, .main-menu--links a:hover, .main-menu--links a:visited {
  color: #151515;
  font-size: 15px;
  font-weight: bold;
}

.main-menu--level-1.main-menu--links .multiple-links:hover a:after {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 2;
    content:"";
    display:block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    left: 50%;
    margin-left: -8px;
}

.main-menu--level-1 {
  text-transform: uppercase;
}

.main-menu--level-2 {
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  transition: height 0.5s ease;
  width: 100%;
  left: 0;
  background-color: #232B2B;
  text-transform: initial;
}

.main-menu--links.main-menu--level-1 a:hover + .main-menu--level-2, .main-menu--level-2:hover {
  height: 63px;
  width: 100%;
}

.main-menu--links.main-menu--level-2 a, .main-menu--links.main-menu--level-2 a:hover, .main-menu--links.main-menu--level-2 a:visited {
  color: #FFF;
}

/** Content **/
.main-container {
  background-color: #FFF;
  padding-top: 10px;
  display: flex;
}

.main-content {
  width: 100%;
  max-width: 700px;
  padding: 20px;
}

.right-column {
  width: 300px;
}

.news-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.news-teaser {
  width: 320px;
  position: relative;
}

.news-teaser--content-text {
  overflow: hidden;
  width: 240px;
  transition: height 0.5s ease;
  height: 110px;
  position: absolute;
  bottom: 0;
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 10px 10px 0 10px;
}

.news-teaser--content-text h2 {
  margin: 0 0 15px 0;
  font-size: 17px;
}

.news-teaser--content-text .news-teaser--description {
  font-size: 13px;
  color: #7d7d7d;
}

.news-teaser--content-text a, .news-teaser--content-text a:hover, .news-teaser--content-text a:visited {
  color: #151515;
  text-decoration: none;
}

.news-teaser--content-text:hover {
  height: 180px;
}

.news-teaser--date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFF;
  padding: 5px;
  font-size: 14px;
}

/** Footer **/

.footer {
  background-color: #eef2f6;
  padding: 20px 40px 20px 40px;
  box-shadow: 0 -4px 2px -2px #d9d9d9;
  border-top: solid 1px #d9d9d9;
}

.footer--menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer--menu {
  padding: 0 20px 0 20px;
}

.footer--copyright {
  padding: 10px 20px 0 20px;
}